@model List<EF_LAb.Models.Selection>
@{
    ViewData["Title"] = "Подборки";
}
<div class="row">
    <div class="col-9">
        <ul class="list-group">
            <li class="list-group-item">Подборки</li>
            @{
                foreach (EF_LAb.Models.Selection selection in Model)
                {
                    <li class="list-group-item"><a href="@Url.Action("Show", "Selections", new { Id = selection.Id })">@selection.Name</a></li>
                }
            }
        </ul>
    </div>
    <div class="col-3">
        <a href="@Url.Action("Create", "Selections")" type="button" class="btn btn-block btn-outline-success">Добавить новую подборку</a>
    </div>
</div>
