@model EF_LAb.Models.Selection
@{
    ViewData["Title"] = "Редактирование подборки " + Model.Name;
}

<div class="row">
    <div class="col">
        <h2>Редактирование подборки: @Model.Name</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-6">
        @using (Html.BeginForm("Update", "Selections", FormMethod.Post))
        {
            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-group">
                <label>Название</label>
                <input type="text" class="form-control" placeholder="Мои любимые фильмы" name="Name" value="@Model.Name" required>
            </div>

            <button type="submit" class="btn btn-primary">Отправить</button>
        }

    </div>
</div>
