@{
    ViewData["Title"] = "Добавление нового актера";
}

<div class="row">
    <div class="col">
        <h2>Добавление нового актера</h2>
    </div>
</div>
        <br />
<div class="row">
    <div class="col-6">
        @using (Html.BeginForm("Create", "Actors", FormMethod.Post))
        {
            <div class="form-group">
                <label>Имя</label>
                <input type="text" class="form-control" placeholder="Иван Иванов" name="Name" required>
            </div>
            <div class="form-group">
                <label>Дата рождения</label>
                <input type="date" class="form-control" name="Birthday" required>
            </div>
            <div class="form-group">
                <label>Страна рождения</label>
                <input type="text" class="form-control" placeholder="Россия" name="CountryName" required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        }

    </div>
</div>
