@model List<EF_LAb.Models.Actor>
@{
    ViewData["Title"] = "Поиск по актерам";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Поиск по актерам: "@ViewContext.HttpContext.Request.Query["q"]"
            </div>
            <ul class="list-group list-group-flush">
                @{
                    foreach (EF_LAb.Models.Actor actor in Model)
                    {
                        <li class="list-group-item"><a href="@Url.Action("Show", "Actors", new { Id = actor.Id })">@actor.Name</a></li>
                    }
                }
            </ul>
        </div>
    </div>

</div>
